


<h1>Dragon Ball</h1>
<hr>
<!--

Formularios por template tienen la logica en el html y menos lógica en ts

Formulario reactivos tienen poca lógica en el Html ( queda limpio) y la lógica en ts -->




<section class="row">
  <div class="col-12 col-sm-6">

    <h3>Agregar: {{ name() }} </h3>
    <hr>

    <input
      class="form-control"
      placeholder="Nombre"
      type="text"
      [value]="name()"
      (change)="name.set(txtName.value)"
      (input)="name.set(txtName.value)"

      #txtName

    />

    <input
      class="form-control mt-2"
      placeholder="Poder"
      type="number"
      [value]="power()"
      (change)="power.set(+txtPower.value)"
      (input)="power.set(+txtPower.value)"

      #txtPower
    />


    <button
      (click)="addCharacter()"
      class="mt-2 btn btn-primary">Agregar</button>

  </div>




  <div class="col-12 col-sm-6">

    <h3>Listado</h3>
    <hr>

    <ul>
        @for (character of characters(); track character.id; let idx = $index ) {

          @if ( character.power != 4000 ) {

           <li>
            <span>{{ idx + 1 }} - {{ character.name }}</span>
            <strong

              [ngClass]="
                {
                  'text-danger': character.power < 5100,
                  'text-primary': character.power >= 5101
                }
              "

              > ( {{ character.power }} ) </strong>
          </li>

          }
        }


    </ul>



  </div>



</section>
